name: Deploy EC2 with Ansible

on:
  push:
    branches:
      - main
env:
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
  T_VAR_AWS_DEFAULT_REGION: af-south-1 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        tf_version: 1.0.x

    - name: Initialize Terraform
      run: terraform init

    - name: Apply Terraform
      run: terraform apply -auto-approve

    - name: Get EC2 Private IP
      id: ec2_ip
      run: echo "::set-output name=ip::$(terraform output ec2_private_ip)"

    - name: Setup Ansible
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install Ansible
      run: pip install ansible

    - name: Run Ansible Playbook
      env:
        PRIVATE_IP: ${{ steps.ec2_ip.outputs.ip }}
        PRIVATE_KEY: ${{ secrets.YOUR_PRIVATE_KEY_SECRET }}
      run: |
        echo "$PRIVATE_KEY" > /tmp/private_key.pem
        chmod 600 /tmp/private_key.pem
        ansible-playbook -i "$PRIVATE_IP," --key-file /tmp/private_key.pem docker-playbook.yml

    - name: Destroy Terraform Resources
      run: terraform destroy -auto-approve
